@font-face {
    font-family: 'ITC';
    src: url('ITC\ Avant\ Garde\ Gothic\ Pro-Book.otf');
}

@font-face {
    font-family: 'ITC Bold';
    src: url('ITC\ Avant\ Garde\ Gothic\ Pro-Bold.otf');
    font-weight: 900;
}

@font-face {
    font-family: 'ITC Demi';
    src: url('ITC\ Avant\ Garde\ Gothic\ Pro-Demi.otf');
}

@font-face {
    font-family: 'ITC Medium';
    src: url('ITC\ Avant\ Garde\ Gothic\ Pro-Medium.otf');
}