/* IMPORTS */

@import url('../fonts/Satoshi/index.css');
@import url('../fonts/ITC-Avante-Garde-Gothic-Pro/index.css');

@import url(products.css);
@import url(auth.css);
@import url(stamps.css);
@import url(home.css);

/* Layout */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 999;
    background-color: var(--background-primary);
}

.header-text {
    font-family: 'ITC';
    font-size: 1.25rem;
}

.main-wrapper {
    padding: var(--default-padding);
    width: 100vw;
}

.center-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-notification, .success-notification {
    display: none;
    margin-top: 25px;
    transition: .3s ease-in-out;
}

.success-notification-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    color: var(--bs-secondary);
    padding: 25px;
    border: 1px solid var(--background-secondary);
    border-radius: 25px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.button-icon:hover, .button-icon:active {
    background-color: var(--bs-secondary-hover);
    color: var(--bs-light);
}

.stamp {
    font-size: 2rem;
}

.main-stamp {
    font-size: 1.25rem;
    color: var(--bs-yellow);
}

.main-stamp-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-toggle::after { 
    content: none; 
} 

.divider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: var(--bs-primary-hover);
    border-color: var(--bs-primary-hover);
}