/* MISC */

.center-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-notification {
    display: none;
    margin-top: 25px;
    transition: .3s ease-in-out;
}

.button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    color: var(--secondary);
    padding: 25px;
    border: 1px solid var(--background-secondary);
    border-radius: 25px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.button-icon:hover, .button-icon:active {
    background-color: var(--primary);
}

.stamp {
    font-size: 2rem;
}

.dropdown-stamp {
    font-size: 1.25rem;
    color: var(--primary);
}

.dropdown-stamp-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-toggle::after { 
    content: none; 
} 

.modal-content {
    background-color: var(--background-secondary    );
    color: var(--secondary);
}

/* LOGIN PAGE */

.login-form {
    height: 60%;
    width: 80%;
}

.login-header {
    font-size: 3rem;
    font-family: 'ITC Demi';
    text-align: center;
    color: var(--primary);
}

.login-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.forgot-password-login, .forgot-password-signup {
    text-decoration: underline;
    cursor: pointer;
}

/* HOME PAGE */

.home-wrapper {
    padding: var(--default-padding);
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.home-header-text {
    font-family: 'ITC';
    font-size: 1.25rem;
}

.product-wrapper {
    display: flex;
    gap: 100px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .product-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 1000px;
        flex-direction: row;
    }
}

.product-card-header {
    font-family: 'ITC';
    width: 80%;
    font-size: 2rem;
    margin-bottom: var(--default-padding);
}

.product-card-body {
    height: 400px;
    width: 100%;
}

.product-stamp-price {
    display: flex;
    gap: 5px;
}

.product-card-button {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 40px;
    background-color: var(--primary);
    color: var(--background-primary);
    font-size: 1.25rem;
    cursor: pointer;
}

.product-card-button:active, .product-card-button:hover {
    background-color: var(--primary-hover);
}

.product-card-image {
    height: 60%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    background-position: center;
}

.product-card-description {
    height: 40%;
    background-color: var(--secondary);
    color: var(--background-primary);
    font-size: 1.1rem;
    padding: 10px;
    font-family: 'Satoshi';
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}